*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background: #202C36;

}


.wrapper{
    display: flex;
    justify-content: space-between;
}



.container{
    max-width: 1220px;
    margin: 0 auto;
}

header{
    background: #2B3844;
 padding: 20px;
}



.h-bir{
/* position: relative;
top: 23px;
left: 81px; */
font-family: Nunito Sans;
font-size: 24px;
font-weight: 800;
line-height: 32.74px;
text-align: left;
/* text-underline-position: from-font;
text-decoration-skip-ink: none; */
color: white;
}




.h-ikki{
/* position: relative;;
height: 22px;
left: 1300px; */
font-family: Nunito Sans;
font-size: 20px;
font-weight: 600;
line-height: 21.82px;
text-align: left;
/* text-underline-position: from-font;
text-decoration-skip-ink: none; */
color: white;
}




.bayroqlar-otasi{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
    top: 60px;
}


.box{
    width: 264px;
height: 250px;
border-radius: 5px;
background: #2B3844;
margin: 20px ;
}



.box1{
    width: 264px;
    height: 250px;
    border-radius: 5px;
    background:  #202C36 ;
    margin: 20px ;

}




.imging{
    width: 100%;
}



.h-uch{
    font-family: Nunito Sans;
font-size: 18px;
font-weight: 800;
line-height: 26px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: white;
/* position: relative;
top: 30px;
left: -4px; */
}




input{
    width: 480px;
height: 56px;
top: 38px;
left: 80px;
position: relative;
background: #2B3844;
color: white;
}





@media screen and (max-width:1241px) and (min-width:621px){
    input{
        width: 630px;
    }
}





form{
   display: flex;
   justify-content: space-between;
}